.custom-modal-header {
    background-color: #f3f6f9;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #d8dde6;
    border-radius: 5px 5px 0 0;
}

.custom-scroll {
    padding: 1rem 1.5rem;
}

.elevator-list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.875rem;
}

